In [1]:
import pandas as pd

df = pd.read_csv("testtrain_all.csv")

df.head()

,image_path,taxonID,plotID,individualID,RGB_tile,siteID,box_id,point_id,label,site
0,OSBS_megaplot.contrib.1203.tif,QULA2,100_contrib,OSBS_megaplot.contrib.1203,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,17,0,11,0
1,OSBS_megaplot.contrib.1191.tif,QULA2,100_contrib,OSBS_megaplot.contrib.1191,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,fixed_box_0,0,11,0
2,OSBS_megaplot.contrib.1200.tif,QULA2,100_contrib,OSBS_megaplot.contrib.1200,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,fixed_box_1,0,11,0
3,OSBS_megaplot.contrib.1220.tif,QULA2,101_contrib,OSBS_megaplot.contrib.1220,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,23,0,11,0
4,OSBS_megaplot.contrib.1206.tif,QULA2,101_contrib,OSBS_megaplot.contrib.1206,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,fixed_box_3,0,11,0

In [2]:
df.head()

,image_path,taxonID,plotID,individualID,RGB_tile,siteID,box_id,point_id,label,site
0,OSBS_megaplot.contrib.1203.tif,QULA2,100_contrib,OSBS_megaplot.contrib.1203,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,17,0,11,0
1,OSBS_megaplot.contrib.1191.tif,QULA2,100_contrib,OSBS_megaplot.contrib.1191,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,fixed_box_0,0,11,0
2,OSBS_megaplot.contrib.1200.tif,QULA2,100_contrib,OSBS_megaplot.contrib.1200,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,fixed_box_1,0,11,0
3,OSBS_megaplot.contrib.1220.tif,QULA2,101_contrib,OSBS_megaplot.contrib.1220,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,23,0,11,0
4,OSBS_megaplot.contrib.1206.tif,QULA2,101_contrib,OSBS_megaplot.contrib.1206,/orange/ewhite/NeonData/OSBS/DP3.30010.001/202...,OSBS,fixed_box_3,0,11,0

In [4]:
df["taxonID"].value_counts()

PIPA2    127
QUGE2    114
QULA2    104
QUHE2     62
QUNI      60
CAGL8     48
PICL      44
ACRU      31
LIST2     31
PITA      30
MAGNO     28
PIEL      24
QUVI      24
NYSY      23
Name: taxonID, dtype: int64

In [5]:
df["taxonID"].value_counts(normalize=True)*100

PIPA2    16.933333
QUGE2    15.200000
QULA2    13.866667
QUHE2     8.266667
QUNI      8.000000
CAGL8     6.400000
PICL      5.866667
ACRU      4.133333
LIST2     4.133333
PITA      4.000000
MAGNO     3.733333
PIEL      3.200000
QUVI      3.200000
NYSY      3.066667
Name: taxonID, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
df.columns

Index(['image_path', 'taxonID', 'plotID', 'individualID', 'RGB_tile', 'siteID',
       'box_id', 'point_id', 'label', 'site'],
      dtype='object')

In [ ]:
X = df[['image_path', 'plotID', 'individualID', 'RGB_tile', 'siteID',
       'box_id', 'point_id', 'label', 'site']]
y = df["taxonID"]

In [8]:
X

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [12]:
X_train.shape

(562, 9)

In [14]:
X_test.shape

(188, 9)

In [16]:
y_train.value_counts(normalize=True)*100

PIPA2    16.370107
QUGE2    14.946619
QULA2    14.412811
QUNI      8.718861
QUHE2     8.718861
CAGL8     5.693950
PICL      5.160142
LIST2     4.804270
ACRU      4.270463
PIEL      3.736655
PITA      3.558719
MAGNO     3.558719
QUVI      3.024911
NYSY      3.024911
Name: taxonID, dtype: float64

# Stratified Sampling

In [19]:
y_test.value_counts(normalize=True)*100

PIPA2    18.617021
QUGE2    15.957447
QULA2    12.234043
CAGL8     8.510638
PICL      7.978723
QUHE2     6.914894
QUNI      5.851064
PITA      5.319149
MAGNO     4.255319
ACRU      3.723404
QUVI      3.723404
NYSY      3.191489
LIST2     2.127660
PIEL      1.595745
Name: taxonID, dtype: float64

In [92]:
import numpy as np

dftrain1 = pd.DataFrame(y_train)
dftrain2 = pd.DataFrame(X_train)
dftest1 = pd.DataFrame(y_test)
dftest2 = pd.DataFrame(X_test)

In [66]:
# train_labels = np.array(y_train)[np.newaxis].T
# train_other = np.array(X_train)

# train = np.hstack(train_other[:,0], train_labels)

# test_labels = np.array(y_test)[np.newaxis].T
# test_other = np.array(X_test)

TypeError: concatenate() got multiple values for argument 'axis'

In [94]:
dftrain1.to_csv("dftrain1.csv")
dftrain2.to_csv("dftrain2.csv")
dftest1.to_csv("dftest1.csv")
dftest2.to_csv("dftest2.csv")

In [90]:
# train_frames = [dftrain2.image_path, dftrain1.taxonID, dftrain2.plotID, dftrain2.individualID, dftrain2.RGB_tile, dftrain2.siteID, dftrain2.box_id, dftrain2.point_id, dftrain2.label, dftrain2.site]

# train_frames

[[207         OSBS_clark.contrib.17.tif
  107    OSBS_megaplot.contrib.1117.tif
  17     OSBS_megaplot.contrib.1382.tif
  345       OSBS_graves.contrib.285.tif
  172        OSBS_clark.contrib.113.tif
                      ...
  645          OSBS_IFAS.contrib.72.tif
  715         OSBS_IFAS.contrib.196.tif
  72     OSBS_megaplot.contrib.1017.tif
  235         OSBS_clark.contrib.51.tif
  37      OSBS_megaplot.contrib.168.tif
  Name: image_path, Length: 562, dtype: object],
 [207    QUGE2
  107    QULA2
  17     QUGE2
  345    LIST2
  172    PIPA2
         ...
  645    QULA2
  715    QUGE2
  72     PIPA2
  235    PIPA2
  37     QUGE2
  Name: taxonID, Length: 562, dtype: object],
 [207      OSBS_clark_contrib_25
  107                 96_contrib
  17                 110_contrib
  345    OSBS_graves_contrib_285
  172     OSBS_clark_contrib_134
                  ...
  645       OSBS_IFAS_contrib_81
  715      OSBS_IFAS_contrib_212
  72                  88_contrib
  235      OSBS_clark_contrib_70
  37                  22_contrib
  Name: plotID, Length: 562, dtype: object],
 [207         OSBS_clark.contrib.17
  107    OSBS_megaplot.contrib.1117
  17     OSBS_megaplot.contrib.1382
  345       OSBS_graves.contrib.285
  172        OSBS_clark.contrib.113
                    ...
  645          OSBS_IFAS.contrib.72
  715         OSBS_IFAS.contrib.196
  72     OSBS_megaplot.contrib.1017
  235         OSBS_clark.contrib.51
  37      OSBS_megaplot.contrib.168
  Name: individualID, Length: 562, dtype: object]]